.usuarioMain{
    width: auto;
    height: 430px;
    background-color: #F76B12;
    padding-left: 117px;
    display: flex;
}

.userPic{
    margin-top: 90px;
}

.dataUser{
    width: auto;
    height: auto;
    margin-top: 90px;
    margin-left: 130px;
}

.dataUser h3{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    margin: 0 auto;
}

.dataUser h4{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    margin-top: 21px;
}

.editInformation{
    width: auto;
    height: 40px;
    margin-top: 96px;
    margin-left: 350px;
}

.editInformation img{
    width: 38.48px;
    height: 38.48px;
    margin-right: 31px;
}

.editInformation a{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    text-decoration: none;
    line-height: 100%;
}